.bkgrd {
	background-color: #000000;
}

.stick_left {
	margin-left: -2vw;
	padding-left: 0;
}

.links {
	color: #79C7C5;
	text-decoration: none;
}

.no_x_scroll {
	overflow: hidden;
}

.stick_together {
	padding-bottom: 0;
	padding-top: 0;
	margin-bottom: -3vmin;
}

.nav_link {
	padding-right: 1vw;
}

.open_txt {
	font-weight: 900;
	color: #272727;
	font-size: 8vh;

	top: 1vh;
	margin-top: -22vh;

	position: sticky;
	z-index: -2;

	opacity: 1;

	padding-bottom: 0;
}

.spacer {
	height: 60vh;
	z-index: 0;
	margin-top: -50vh;
}

.nav {
	font-weight: 600;
	font-size: 3vh;

	padding-top: 3vh;

	color: #888888;

	position: sticky;
	top: 0;
}

.text_right {
	text-align: right;
}

.petition {
	width: 100%;
	display: none;
	color: #CCCCCC;
}

.donation {
	width: 100%;
	display: none;
	color: #CCCCCC;
}

.protest {
	width: 100%;
	display: none;
	color: #CCCCCC;
}

.contact {
	width: 100%;
	display: none;
	color: #CCCCCC;
}

.business {
	width: 100%;
	display: none;
	color: #CCCCCC;
}

.outer_note {
	width: 90vw;
	padding-left: 5vw;
	padding-right: 5vw;
}

.d_org {
	display: none;
}

.sect_head {
	font-weight: bold;
	color: #CCCCCC;
}

#main {
	width: 90vw;
	margin-top: -68vh;
	padding-left: 5vw;
	padding-right: 5vw;
	height: 55vh;
	overflow-y: scroll;
}

.rolling {
	display: none;
	position: absolute;
	z-index: -1;
}

.arm {
	height: 7vh;
	padding-left: 1vmax;
	padding-right: 1vmax;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

#dev_tag {
	margin-top: 68vh; 
	margin-left: 10vw; 
	font-weight: 400; 
	font-size: 3vh;
	color: #FFFFFF;
}

a {
	cursor: pointer;
}

body {
	font-family: 'Montserrat', sans-serif;
}