.bkgrd {
	background-color: #000000;
}

.stick_left {
	margin-left: -2vmax;
	padding-left: 0;
}

.links {
	color: #79C7C5;
	text-decoration: none;
}

.no_x_scroll {
	overflow: hidden;
}

.stick_together {
	padding-bottom: 0;
	padding-top: 0;
	margin-bottom: -10vmin;
}

.nav_link {
	padding-right: 5vw;
}

.open_txt {
	font-weight: 900;
	color: #272727;
	font-size: 25vmin;

	top: 10vh;

	position: sticky;
	z-index: -2;

	opacity: 1;

	padding-bottom: 0;
}

.spacer {
	height: 60vh;
	z-index: 0;
	margin-top: -50vh;
}

.nav {
	font-weight: 600;

	padding-top: 3vh;

	color: #888888;

	position: sticky;
	top: 0;
}

.text_right {
	text-align: right;
}

.petition {
	width: 100%;
	display: none;
	color: #CCCCCC;
}

.donation {
	width: 100%;
	display: none;
	color: #CCCCCC;
}

.contact {
	width: 100%;
	display: none;
	color: #CCCCCC;
}

.d_org {
	display: none;
}

.sect_head {
	font-weight: bold;
	color: #CCCCCC;
}

#main {
	width: 97vw;
	margin-top: -60vmin;
	height: 45vh;
	overflow-y: scroll;
}

.rolling {
	display: none;
	position: absolute;
	z-index: -1;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

a {
	cursor: pointer;
}

body {
	font-family: 'Montserrat', sans-serif;
}